In [1]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# reading csv into pandas df
words = pd.read_csv('../data/WikiWords.csv')

In [3]:
words.head()

        name    count
0        amp    15034
1         is  1057392
2          a  1936240
3     double     3366
4  ampersand       17

In [4]:
words.name.count()

75490

In [5]:
# dropping all words under 3 letters
wordz = words.loc[words.name.str.len() > 2, :]

In [6]:
# looking at the length of letters
words.name.str.len()

0         3.0
1         2.0
2         1.0
3         6.0
4         9.0
         ...
75487     4.0
75488     9.0
75489     8.0
75490    15.0
75491     7.0
Name: name, Length: 75492, dtype: float64

In [15]:
wordz.rename(columns={"name": "word"}, inplace=True)

C:\Users\Andy McRae\anaconda3\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

## Split up the df

In [16]:
# creating a dictionary of df's
# where each df is a different lenght
# of word
levels = {}

# end length
end = wordz.word.str.len().max() + 1

# start point
start = wordz.word.str.len().min() 

# loop over df and pull out smaller dfs
for i in range(start, end):
    df = wordz.loc[wordz.word.str.len() == i, :]
    levels[str(i)] = df.reset_index()

In [17]:
levels['7'].word.count()

11169

In [18]:
np.ceil(11169*np.random.uniform(0,1,1))

array([1112.])

## Function To pick out a word

In [29]:
# writing a function to pull out a random word
def wordman(number):
    df = levels[str(number)]
    length = df.word.count()
    windex = np.ceil(length*np.random.uniform(0,1,1))
    word = df.iloc[windex]
    return word

In [31]:
wordman(7).word

9012    spouted
Name: word, dtype: object

NameError: name 'wordi' is not defined